        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
            background-color: #f5f5f5;
        }

        h1 {
            text-align: center;
            color: #333;
        }

        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .artifact {
            flex-basis: 30%;
            margin-bottom: 20px;
            padding: 20px;
            color: white;
            text-align: center;
            transition: background-color 0.3s ease;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
            border-radius: 4px;
        }

        .market {
            background-color: #008779;
        }

        .query {
            background-color: #f1b3a9;
        }

        .original {
            background-color: #0fc5e3;
        }

        .reviews {
            background-color: #9871af;
        }

        .revised {
            background-color: #ffb919;
        }

        .artifact a {
            text-decoration: none;
            color: white;
            font-weight: bold;
        }

        .artifact:hover {
            transform: translateY(-5px);
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        }

        h2 {
            margin-top: 40px;
            text-align: center;
            color: #333;
        }

        p {
            margin-bottom: 20px;
            text-align: center;
            color: #666;
        }

        .reflective-statement {
            background-color: #fff;
            padding: 20px;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
            border-radius: 4px;
            color: #333;
            line-height: 1.6;
            
        }
    
        .reflection-heading {
            font-weight: bold;
            color: #333;
        }
    
        .reflection-content {
            margin-bottom: 20px;
        }

    .final-reflective-statement {
        flex-basis: 100%;
        margin-bottom: 20px;
        padding: 20px;
        color: white;
        transition: background-color 0.3s ease;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        background-color: #5190ED;
        text-align: center;
                     /* Choose your desired color */
        }
        
    .final-reflective-statement a {
        text-decoration: none;
        color: white;
        font-weight: bold;
        }
        
    .final-reflective-statement:hover {
        transform: translateY(-5px);
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        }
